<div style="margin-bottom: 20px;">
  <a href="/monitors.new" class="button" style="background: #c2f3bb">+ Add Monitor</a>
</div>

<table>
  <thead>
  <tr>
    <th>Monitor</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @monitors.each do |monitor| %>
    <tr>
      <td>Determine <a href="<%= monitor[:url] %>" target="_blank"><%= monitor[:determine] %></a>.</td>
      <td>
        <a href="/monitors/<%= monitor[:id] %>">
          <% if monitor[:paused] %>
            Paused
          <% else %>
            <%= monitor[:last_run_at].present? ? "Last run #{time_ago_in_words(monitor[:last_run_at])} ago" : "No runs yet" %>
          <% end %>
          <br>
          <%= "#{monitor[:run_count]} #{"run".pluralize(monitor[:run_count])}" %>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
