<style>
  .screenshot {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: top;
    aspect-ratio: initial;
  }

  .screenshot-mobile {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
    aspect-ratio: initial;
  }
</style>

<% if @monitor[:paused] %>
  <div style="background-color: #fff3e0; padding: 10px; border: 1px solid #ffe0b2; border-radius: 4px;">
    This monitor is paused.
  </div>
<% end %>

<h1>Determine <%= @monitor[:determine] %></h1>

<h3><a href="<%= @monitor[:url] %>" target="_blank"><%= @monitor[:url] %></a></h3>

<% if @monitor[:extra_instructions].present? %>
  <p><em><%= @monitor[:extra_instructions] %></em></p>
<% end %>

<br>

<div style="display: flex; gap: 10px;">
  <form method="post" action="/monitors/<%= @monitor[:id] %>/action">
    <button name="action" value="run" type="submit" style="background-color: #c2f3bb;">
      Run now
    </button>
  </form>

  <% if @monitor[:paused] %>
    <form method="post" action="/monitors/<%= @monitor[:id] %>/action">
      <button name="action" value="resume" type="submit" style="background-color: #b2dfff;">Resume</button>
    </form>
  <% else %>
    <form method="post" action="/monitors/<%= @monitor[:id] %>/action">
      <button name="action" value="pause" type="submit" style="background-color: #ffe0b2;">Pause</button>
    </form>
  <% end %>
</div>

<% if @runs.empty? %>
  <p>No runs yet.</p>
<% else %>
  <table class="desktop">
    <thead>
    <tr>
      <th style="width: 200px">Run</th>
      <th>Rationale</th>
      <th style="width: 200px">Screenshot</th>
    </tr>
    </thead>
    <tbody>
    <% @runs.each_with_index do |run, idx| %>
      <tr>
        <td>
          <span title="<%= run[:created_at] %>">
            <%= "#{time_ago_in_words(run[:created_at]).capitalize} ago" %>
          </span>

          <br>

          <span style="color: <%= run[:outcome] ? '#4caf50' : '#f44336' %>; font-family: monospace">
            <%= run[:outcome] ? 'true' : 'false' %>
          </span>

          <br>

          Tokens in/out:
          <%= run[:debug_info]["input_tokens"] %> / <%= run[:debug_info]["output_tokens"] %>
        </td>
        <td><%= run[:reasoning] %></td>
        <td>
          <a href="/runs/<%= run[:id] %>/screenshot" target="_blank">
            <img
              src="/runs/<%= run[:id] %>/screenshot"
              class="screenshot"
              alt="Screenshot"
              loading="<%= idx < 10 ? "eager" : "lazy" %>"
            />
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="mobile">
    <% @runs.each do |run| %>
      <div style="border-top: 1px solid black; padding: 10px 0; margin: 10px 0;">
        <div>
          <span title="<%= run[:created_at] %>">
            <%= "#{time_ago_in_words(run[:created_at]).capitalize} ago" %>
          </span>
          <br>
          <span style="color: <%= run[:outcome] ? '#4caf50' : '#f44336' %>; font-family: monospace">
            <%= run[:outcome] ? 'true' : 'false' %>
          </span>
          <br>
          Tokens in/out:
          <%= run[:debug_info]["input_tokens"] %> / <%= run[:debug_info]["output_tokens"] %>
        </div>

        <div style="margin: 10px 0;">
          <a href="/runs/<%= run[:id] %>/screenshot" target="_blank">
            <img
              src="/runs/<%= run[:id] %>/screenshot"
              alt="Screenshot"
              class="screenshot-mobile"
            >
          </a>
        </div>

        <div><%= run[:reasoning] %></div>
      </div>
    <% end %>
  </div>
<% end %>
