<% if @monitor[:paused] %>
  <div style="background-color: #fff3e0; padding: 10px; border: 1px solid #ffe0b2; border-radius: 4px;">
    This monitor is paused.
  </div>
<% end %>

<h1>Determine <%= @monitor[:determine] %></h1>

<h3><a href="<%= @monitor[:url] %>" target="_blank"><%= @monitor[:url] %></a></h3>

<br>

<div style="display: flex; gap: 10px;">
  <form method="post" action="/monitors/<%= @monitor[:id] %>/action">
    <button name="action" value="run" type="submit" style="background-color: #c2f3bb;">Run now</button>
  </form>

  <% if @monitor[:paused] %>
    <form method="post" action="/monitors/<%= @monitor[:id] %>/action">
      <button name="action" value="resume" type="submit" style="background-color: #b2dfff;">Resume</button>
    </form>
  <% else %>
    <form method="post" action="/monitors/<%= @monitor[:id] %>/action">
      <button name="action" value="pause" type="submit" style="background-color: #ffe0b2;">Pause</button>
    </form>
  <% end %>
</div>

<% if @runs.empty? %>
  <p>No runs yet.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>When</th>
      <th>Determination</th>
      <th>Usage</th>
      <th>Rationale</th>
      <th>Screenshot</th>
    </tr>
    </thead>
    <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td>
          <span title="<%= run[:created_at] %>">
            <%= "#{time_ago_in_words(run[:created_at])} ago" %>
          </span>
        </td>
        <td><%= run[:outcome] %></td>
        <td>
          In: <%= run[:debug_info]["input_tokens"] %>
          <br>
          Out: <%= run[:debug_info]["output_tokens"] %>
          <br>
          Cost: $<%= sprintf('%.5f', (run[:debug_info]["input_tokens"] * 0.10 + run[:debug_info]["output_tokens"] * 0.40) / 1_000_000) %>
        </td>
        <td style="white-space: pre-line"><%= run[:debug_info]["content"] %></td>
        <td>
          <a href="/runs/<%= run[:id] %>/screenshot" target="_blank">
            <img src="/runs/<%= run[:id] %>/screenshot" width="200" alt="Screenshot">
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
